<link rel="stylesheet" href="/files/css/Header.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<header class="Header" id="Header">
    <div class="Cennttttttt">

        <div class="ImageAndH1">
            <a id="Logo1" href="/?Source=Nav_Logo">
                <img src="/files/img/GSB_Logo.png" alt="GET SKY BUY Logo">
            </a>
            <a id="HeadingNav2" href="/?Source=Nav_Heading">
                <div id="HeadingNav2Center">
                    <h1 title="GET SKY BUY | Website">GET SKY BUY</h1>
                    <span class="Exploresnow">Explore now</span>
                    <span class="ExploresnowImge"><img src="/files/img/GSB_Logo.png" alt="GET SKY BUY Logo"></span>
                </div>
            </a>
        </div>

        <div class="SearchStart">

            <div class="MainSearchBox">

                <form action="/search" method="get">

                    <select name="Search_Type" id="Search_Type">
                        <option value="All">All</option>
                        <option value="Men dresses">Men dresses</option>
                        <option value="Women dresses">Women dresses</option>
                        <option value="Kids cloths">Kids cloths</option>
                        <option value="Kitchen">Kitchen</option>
                        <option value="Home Decoration">Home Decoration</option>
                        <option value="Electronics">Electronics</option>
                    </select>
                    <div class="Sesessasfsafsfasff">
                        <input id="Search_Input" type="text" placeholder="Search for product, shop or ID" autocomplete="off" spellcheck="false" name="Search">
                    </div>
                    <button id="Clear_Search" type="reset"><span>&#x2715;</span></button>
                    <button id="Submit_Button" type="submit"><span class="material-symbols-outlined">search</span></button>
                    

                </form>
            </div>
            
        </div>

        <div class="Nav">
            <ul>
                <li class="NavList">
                    <button class="Nav_Btn" type="button" onclick="NavClicked(1)">
                        <span class="material-symbols-outlined gfd">store</span>
                        <span>Store/Shop</span>
                    </button>
                </li>
                <li class="NavList">
                    <button class="Nav_Btn" type="button" onclick="NavClicked(2)">
                        <span class="material-symbols-outlined gfd">person</span>
                        <span>Profile</span>
                    </button>
                </li>
                <li class="NavList">
                    <button class="Nav_Btn" type="button" onclick="NavClicked(3)">
                        <span class="material-symbols-outlined gfd">arrow_drop_down</span>
                        <span>More</span>
                    </button>
                </li>
                <li class="NavList">
                    <button class="Nav_Btn" type="button" onclick="NavClicked(4)">
                        <span class="material-symbols-outlined gfd">favorite</span>
                        <span>Favourite</span>
                    </button>
                </li>
                <li class="NavList">
                    <button class="Nav_Btn" type="button" onclick="NavClicked(5)">
                        <span class="material-symbols-outlined gfd">shopping_cart</span>
                        <span>Cart</span></button>
                        <!-- <span>0</span> -->
                    </button>
                </li>
            </ul>

        </div>


    </div>

</header>

