export
    <link rel="stylesheet" href="/files/css/Header.css">
    <header class="Header" id="Header">
        <div class="Cennttttttt">

            <div class="ImageAndH1">
                <a id="Logo1" href="/?Source=Nav_Logo">
                    <img src="/files/img/GSB_Logo.png" alt="GET SKY BUY Logo">
                </a>
                <a id="HeadingNav2" href="/?Source=Nav_Heading">
                    <div id="HeadingNav2Center">
                        <h1 title="GET SKY BUY | Website">GET SKY BUY</h1>
                        <span class="Exploresnow">Explore now</span>
                        <span class="ExploresnowImge"><img src="/files/img/GSB_Logo.png" alt="GET SKY BUY Logo"></span>
                    </div>
                </a>
            </div>

        </div>

    </header>

