<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create your account | GET SKY BUY</title>
    <link rel="stylesheet" href="/files/css/SignupPage.css">
    include HeadPart.pug
</head>
<body>
    <div class="container">

        <input type="text">
    </div>






    <script src="/files/js/SignupPage.js"></script>
</body>
</html>